.logo{
	margin-left: 140px;
	margin-top: 24px;
width: 90x;
	height: 60px;
}

.floatRight {
	margin-left: 940px;
	margin-top: 24px;
 width: 600x;
	height: 60px;
}

.text{
	font-size: 60px;
	font-family: 'Trajan pro.ttf' "version":"0.24";
  	top: 144px;
    text-align: center;
    	margin-left: 90px;
    	margin-right: 90px;
}


#header{
	margin-bottom: 30px;
	display: flex;
	align-items: center;

}

.ul{
	width: 447x;
	height: 13px;
	padding-left: 118px;
	padding: 30px 0px 0px 118px;
	margin: 0;
	display: flex;
}


#text2 {
	font-size: 30px;
	font-family: 'Trajan pro.ttf' "version":"0.24";
  	top: 144px;
    text-align: center;
    	margin-left: 95px;
    	margin-right: 95px;
    	margin-top: 95 px;
  }

.container {
	    font-family: 'Trajan pro.ttf' "version":"0.24";
  	  top: 144px;
      text-align: center;
    }

#firstpic {
	width: 1206px;
	height: 700px;
	align-items: center;
  top: 108px;
  left: 650px;
} 

.posts{
	display: flex;
	justify-content: center;
}


#popular{
	padding: 100px 0px 84px 173px;
	color: #FF7A00;
	font-size: 22px;
}

.image{
	width: 636px;
	height: 824px;
	padding-right: 52px;
	padding-bottom: 100px;
}

.first{
	text-align: center;
  float: right;
	font-weight: bold;
	font-size: 36px;
	margin-top: 180px;
	margin-bottom: 22px;

}

.second{
	color: #7B7B7B;
	font-size: 19px;
	margin-top: 50px;
	height: 100 px;
}

.img1 {

	margin-top: 100px;
	width: 500px;
	height: 600px;
}

.text3 {	
	width: 380px;
	height: 90px;
	color: #7B7B7B;
	font-size: 19px;
	margin-top: 290px;
  padding-right:110px;
  padding-left:110px;
}

.div{
	width: 636px;
	margin-right: 32px;
}


.pictures {
	width: 120px;
	height: 70px;
	display: flex;
	justify-content: center;
	margin-left: 200p;
  top: 108px;
  left: 100px;
}


.read_more{
	display: flex;
}

.read_moretxt{
	color: #FF7A00;
	font-size: 14px;
	padding-top: 34px;
	padding-bottom: 64px;
	height: 14px;
}


#line1{
      width: 500px;
    margin-block: auto;
    height: 600px;
    inline-size: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: auto;
}

.pic4 {
	display: flex;
}

#pcc{
margin: 199px 53px 82px 44px;
    width: 500px;
    margin-block: auto;
    height: 600px;
    inline-size: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
}



#learn_moreimg{
	margin: 70px 705px 134px 705px;
}

.footer{
	display: flex;
	margin-top: auto;
}


.footer_content{
	padding-top: 89px;
	padding-bottom: 100px;
}

#f1{
	padding: 89px 208px 0px 132px;
}
#f2{
	padding:  89px 241px 0px 0px;
}

#f3{
	padding:  89px 236px 0px 0px;
}

.footer_title{
	font-size: 24px;
	color: #282828;

}

#follow {
	margin-right: 100px;
}

.list{
	font-size: 14px;
	color: #7B7B7B;
}
